body{
    background-color: rgb(174, 237, 174);
}
.scores-header{
    background-color:green;
    color:white;
    height:40px;
    border-radius: 5px;
    text-align: center;
    margin:20px;
    padding: 10px;
}
.scores-header:hover{
    background-color: darkgreen;
}
.timer{
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
}
#top{
    text-align: center;
    color:rgb(30, 50, 30);
    font-size:40px;
    font-family: Arial, Helvetica, sans-serif;
}
#rules{
    text-align: center; 
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
#startbtn{
    text-align: center;
 }
#start{
    background-color:green;
    color:white;
    height:50px;
    border-radius: 5px;
    text-align: center;
    margin:20px;
    padding: 10px;
    font-size: larger;
}
