body{
    background-color: rgb(174, 237, 174);
}
.scores-header{
    background-color:green;
    color:white;
    height:40px;
    border-radius: 5px;
    text-align: center;
    margin:20px;
    padding: 10px;
    position: absolute;
}
.scores-header:hover{
    background-color: darkgreen;
}
.timer{
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 20px;
    right: 15px;
}
h1{
    text-align: center;
}
.high-scores{
    display:inline;
}
#top{
    text-align: center;
    color:rgb(30, 50, 30);
    font-size:40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:40px;
}
#rules-panelbar{
    display:block;
}
.rules{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    list-style: none;
    margin:20px;
}
.rule1{
    margin:25px;
    padding:15px;
    background-color: rgba(216, 245, 210, 0.753);
    color:rgb(1, 47, 1);
    font-family:Arial, Helvetica, sans-serif;
    box-shadow: 2px 5px rgba(18, 49, 1, 0.466);
    transition: transform 0.5s ease, box shadow 0.5s ease;
}
.rule1:hover{
    transform:translateY(-5px);
    box-shadow: 4px 8px rgba(18, 49, 1, 0.466);
}
#startbtn,#signup-btn{
    text-align: center;
 }
.form{
    width:70%;
    margin:auto;
    padding:20px;
    font-size: larger;
    color:rgba(18, 49, 1);
    border-color: green;
    display:none;
}
.form-grp{
    margin-bottom:20px;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding:10px;
    background-color: rgba(255, 255, 255, 0.342);
    text-align: center;
    border-radius: 7px;

}
.form-grp .input,.form-grp select{
    height:30px;
    margin-left:50px;
    border-color:rgba(18, 49, 1, 0.589) ;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}
#start,#signup {
    background-color:green;
    color:white;
    height:50px;
    border-radius: 5px;
    text-align: center;
    margin:20px;
    padding: 10px;
    font-size: larger;
}
.submit{
    background:none;
}
.hide{
    display:none;
}
@media (max-width: 600px) {
    .form-container {
        padding: 15px;
    }

    .form-container h2 {
        font-size: 20px;
    }

    .form-group input[type="submit"] {
        font-size: 16px;
    }
}